<div layout="column" flex>

	<!--section layout="row" flex=""-->






	<!-- ANGULAR MATERIAL toolbar -->
	<md-toolbar class="md-whiteframe-z4" style="position: fixed; z-index:10;">
		<div class="md-toolbar-tools">
        <md-button ng-click="classView(thisKlass._id)" class="md-icon-button" aria-label="Settings">
				<i class="material-icons">arrow_back</i>
			</md-button>





			<md-menu md-position-mode="target-right bottom" md-offset="0 10">
	        <md-button class="md-hue-2"  ng-click="openMenu($mdOpenMenu, $event)">
          <div class="valign-center hideOnMobile">
						{{user.firstName}}	<i class="material-icons">arrow_drop_down</i>
					</div>
          <div class="valign-center onlyOnMobile">
					<i class="material-icons">person</i>
					</div>				
        </md-button>

      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="goProfile()">          
						<md-icon class="material-icons">person</md-icon>Profile
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button href="/logout" target="_self">
						<md-icon class="material-icons">exit_to_app</md-icon>Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>	
		</div>
	</md-toolbar>
	<!-- /ANGULAR MATERIAL TOOLBAR -->



	    <md-content flex class="md-padding" style="margin-top: 120px; background-color: #e9eaec;">


<div class="container" >
	<div class="row">
		<div class="col-md-1"></div>

		<div class="col-md-10">


			<md-toolbar style="background-color: #e9eaec;">
		<div class="md-toolbar-tools">

					<md-menu>
						<md-button class="md-raised" ng-click="openMenu($mdOpenMenu, $event)">
							<div class="valign-center">
								ACTIONS<i class="material-icons">arrow_drop_down</i>
							</div>
						</md-button>
						<md-menu-content width="3">
							<md-menu-item>
								<md-button ng-click="">
									<div class="valign-center">
										<i class="material-icons">person</i>Profile
									</div>
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button disabled="disabled" ng-click="">
									<md-icon md-svg-icon="call:voicemail"></md-icon>
									Something else
								</md-button>
							</md-menu-item>
							<md-menu-divider></md-menu-divider>
							<md-menu-item>
								<md-button href="/logout" target="_self">
									<div class="valign-center">
										<i class="material-icons">exit_to_app</i>Logout
									</div>
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
					<span flex></span>


				</div>
			</md-toolbar>
		
		
			<div ng-repeat="assignment in assignmentList track by $index">

				<md-card >			

					 
			<md-card-title >
				<md-card-title-text>
					<span  class="md-headline">		<span class="md-avatar"><ng-letter-avatar  height="40" width="40"  data="{{assignment.studentId.firstName}}" shape="round"></ng-letter-avatar></span>&nbsp;&nbsp;<a style="text-decoration:none; color:black" ng-href="/class/{{thisKlass._id}}/assignment/{{assignment._id}}/review/details">{{assignment.studentId.firstName}} {{assignment.studentId.lastName}}</a></span>
					<span  class="md-subhead">{{assignment.work}}</span>
					<span  class="md-subhead">{{assignment.note}}</span>
	</md-card-title-text>
			<md-card-title-media>
            <div class="md-media-sm card-media">
							<h1>{{assignment.numComplete}} </h1>
							<span  class="md-subhead" style="color:grey">complete</span>
				</div>
          </md-card-title-media>
				
				<md-card-title-media>
            <div class="md-media-sm card-media">
							<h1>{{assignment.numNotComplete}}</h1>
							<span  class="md-subhead" style="color:grey">not done</span>
				</div>
          </md-card-title-media>
				
				<md-button class="md-icon-button" ng-click="cancel()">
										<i class="material-icons">more_vert</i>
									</md-button>
			</md-card-title>
	

				</md-card>


		</div> <!--/grid of 8-->


<div class="col-md-1">
	<!--div style="min-height: 90vh;"></div-->
<div id="floater">


	</div><!--floater?-->
		</div><!--/col of 2-->

	</div><!-- /.row -->

</div><!-- /.container -->


